{% extends "layout.html" %}

{% block title %}
help
{% endblock %}

{% block content %}

<h1 class="text-center mb-4 text-primary animate__animated animate__fadeInUp">Welcome to Pokémon World</h1>

<!-- _Introduction_Paragraph_ -->
 <h1>help page </h1>

{% endblock %}
{% extends "layout.html" %}

{% block title %}
Help Page
{% endblock %}

{% block content %}
<h1 class="text-center mb-4 text-primary animate__animated animate__fadeInUp">Welcome to Pokémon World</h1>

<!-- _Introduction_Paragraph_ -->
<h1>Help Page</h1>
{% endblock %}
